@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
body {
  font-family: Lato, sans-serif;
  max-width: 1600px;
  margin: 0;
}

.container {
  width: 1140px;
  margin: auto;
  padding: 0 10px;
}

.logo {
  height: 51px;
  padding-right: 60px;
}

@media (max-width: 991px) {
  .logo {
    padding: 0;
  }
}

.logo a {
  color: black;
  font-size: 27px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
}

.logo a span {
  color: #f16d7f;
  font-weight: 900;
}

.header {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991px) {
  .header {
    width: auto;
  }
}

@media (max-width: 991px) {
  .container {
    width: auto;
  }
}

.topForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

@media (max-width: 991px) {
  .topForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    padding: 10px;
  }
  .topForm > * {
    margin-top: 10px;
  }
}

.topForm > * {
  border: none;
  line-height: 34px;
  height: 34px;
  padding: 0;
}

.topForm > *:focus {
  outline: none;
}

.topForm .logo {
  height: 51px;
  padding-right: 60px;
}

@media (max-width: 991px) {
  .topForm .logo {
    padding: 0;
  }
}

.topForm .logo a {
  font-size: 27px;
  font-weight: 300;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}

.topForm .logo a span {
  color: #f16d7f;
  font-weight: 900;
}

.topForm .searchFormTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 37px;
  width: 402px;
  border: 1px solid #c2c2c2;
}

@media (max-width: 575px) {
  .topForm .searchFormTop {
    width: auto;
  }
}

.topForm .searchFormTop > * {
  border: none;
  line-height: 34px;
  height: 34px;
  padding: 0;
}

.topForm .searchFormTop > *:focus {
  outline: none;
}

.topForm .searchFormTop .browse {
  width: 85px;
  font-weight: 400;
  font-size: 14px;
  color: #5b5b5b;
  border-right: 1px solid #c2c2c2;
}

.topForm .searchFormTop .browse i {
  padding-left: 8px;
}

.topForm .searchFormTop input {
  padding: 15px;
  width: 280px;
  font-size: 14px;
  font-weight: 300;
  color: #c2c2c2;
  border-right: 1px solid #c2c2c2;
}

@media (max-width: 575px) {
  .topForm .searchFormTop input {
    width: 115px;
  }
}

.topForm .searchFormTop .searchTopBtn {
  text-align: center;
}

.topForm .searchFormTop .searchTopBtn i {
  padding: 10px;
  font-size: 14px;
  color: #c2c2c2;
}

.topForm .topBasket {
  margin-left: auto;
  margin-right: 20px;
}

@media (max-width: 991px) {
  .topForm .topBasket {
    margin: 0;
  }
}

.topForm .MyAccountBtn {
  width: 130px;
  font-size: 15px;
  font-weight: 400;
  color: white;
  background-color: #f16d7f;
}

.topNav {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (max-width: 991px) {
  .topNav {
    height: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.topNav a {
  padding: 20px;
  line-height: 12px;
  font-size: 14px;
  color: #222222;
  font-weight: 700;
  text-transform: uppercase;
}

.topNav a:hover {
  border-bottom: 3px solid #f16d7f;
}

@media (max-width: 991px) {
  .topNav a {
    padding: 10px;
  }
}

.TopCrumb {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991px) {
  .TopCrumb {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.TopCrumb .leftPatch {
  font-size: 24px;
  font-weight: 900;
  color: #f16d7f;
  text-transform: uppercase;
}

.TopCrumb .rightPatch a {
  font-size: 14px;
  font-weight: 300;
  color: #5b5b5b;
  text-transform: uppercase;
}

.TopCrumb .rightPatch .active {
  font-size: 14px;
  font-weight: 700;
  color: #f16d7f;
  text-transform: uppercase;
}

.mainshopcard {
  margin-bottom: 78px;
}

@media (max-width: 1023px) {
  .mainshopcard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.shoppingCardProduct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1023px) {
  .shoppingCardProduct {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.shoppingCardTop {
  text-align: center;
  font-size: 14px;
  color: #222222;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media (max-width: 1023px) {
  .shoppingCardTop {
    display: none;
  }
}

.shoppingCardTop .SCTLeft {
  width: 280px;
  margin: 0;
}

.shoppingCardTop .SCTRight {
  width: 680px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shoppingCardTop .SCTRight p {
  margin: 0;
  width: 113px;
  text-align: center;
}

.shoppingCardProduct {
  margin-top: 50px;
}

.shoppingCardProduct .SCPLeft {
  width: 293px;
  height: inherit;
  display: block;
  position: relative;
}

.shoppingCardProduct .SCPLeft img {
  float: left;
}

.shoppingCardProduct .SCPRight {
  width: 680px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1023px) {
  .shoppingCardProduct .SCPRight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
    height: auto;
  }
}

.shoppingCardProduct .SCPRight input {
  width: 30px;
  text-align: center;
}

.shoppingCardProduct .SCPRight span {
  display: none;
  font-size: 14px;
  color: #222222;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media (max-width: 1023px) {
  .shoppingCardProduct .SCPRight span {
    display: block;
  }
}

.shoppingCardProduct .SCPRight p,
.shoppingCardProduct .SCPRight button {
  margin: 0;
  width: 113px;
  text-align: center;
}

@media (max-width: 1023px) {
  .shoppingCardProduct .SCPRight p,
  .shoppingCardProduct .SCPRight button {
    width: auto;
    padding: 5px;
  }
}

.shoppingCardProduct .SCPRight button {
  border: none;
}

.shoppingCardProduct .SCPRight button:focus {
  outline: none;
}

.SCPLeftInf {
  position: absolute;
  width: auto;
  height: inherit;
  left: 118px;
}

.SCPLeftInf .SCPName {
  font-size: 13px;
  font-weight: 700;
  color: #222222;
  text-transform: uppercase;
}

.SCPLeftInf .SCPSpecification {
  font-size: 13px;
  font-weight: 400;
  color: #575757;
}

.SCPLeftInf .SCPSpecification span {
  color: #939292;
  padding-left: 15px;
}

.shoppingCardProductBtnBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 90px;
}

@media (max-width: 1023px) {
  .shoppingCardProductBtnBox {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 15px;
  }
}

@media (max-width: 400px) {
  .shoppingCardProductBtnBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.shoppingCardProductBtnBox input {
  width: 200px;
  text-align: center;
  font-size: 14px;
  color: #4a4a4a;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid  #939292;
  border-radius: 50px;
}

.shoppingCardProductBtnBox input:focus {
  outline: none;
  -webkit-box-shadow: 2px 2px 2px #939292;
          box-shadow: 2px 2px 2px #939292;
}

.shoppingCardFooter {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1023px) {
  .shoppingCardFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 15px;
    margin-top: 0;
  }
}

.shippingaddress,
.CouponDiscont,
.totalForm {
  width: 345px;
  height: 256px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1023px) {
  .shippingaddress,
  .CouponDiscont,
  .totalForm {
    height: auto;
    width: 320px;
    text-align: center;
    padding: 20px;
  }
}

.shippingaddress h4,
.CouponDiscont h4 {
  font-size: 16px;
  color: #222222;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.shippingaddress input,
.CouponDiscont input {
  height: 30px;
  padding-left: 16px;
  border: none;
  font-size: 13px;
  color: #b1b1b1;
}

.shippingaddress button,
.CouponDiscont button {
  width: 110px;
  padding-left: 16px;
  text-align: left;
  font-size: 11px;
  color: #4a4a4a;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
}

.shippingaddress button:focus,
.CouponDiscont button:focus,
.shippingaddress input:focus,
.CouponDiscont input:focus {
  outline: none;
  border-radius: 50px;
  -webkit-box-shadow: 2px 2px 2px #939292;
          box-shadow: 2px 2px 2px #939292;
}

.totalForm {
  height: 172px;
  width: 272px;
}

@media (max-width: 1023px) {
  .totalForm {
    height: auto;
  }
}

.totalForm .totalFormBox {
  text-align: right;
}

.totalForm .totalFormBox .subTotal {
  padding-top: 40px;
  padding-bottom: 20px;
  height: 15px;
  margin: 0;
  font-size: 11px;
  font-weight: 300;
  color: #4a4a4a;
  text-transform: uppercase;
}

@media (max-width: 1023px) {
  .totalForm .totalFormBox .subTotal {
    padding: 5px;
  }
}

.totalForm .totalFormBox .subTotal output {
  color: #545454;
  margin: 0;
}

.totalForm .totalFormBox .grandTotal {
  font-size: 16px;
  color: #222222;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.totalForm .totalFormBox .grandTotal output {
  color: #f16d7f;
}

.totalForm .checkoutBtn {
  border: none;
  padding: 12px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.767);
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  background: #f16d7f;
}

.subscribe {
  height: 440px;
  width: inherit;
  background: url(../img/bgr2.jpg) no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 1140px;
}

@media (max-width: 991px) {
  .subscribe .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    width: auto;
    padding: 0;
  }
}

.feedback {
  background: url(../img/Ellipse3.png) no-repeat;
  height: 180px;
  width: 520px;
}

@media (max-width: 575px) {
  .feedback {
    width: auto;
    height: auto;
  }
}

.feedback > * {
  padding-left: 110px;
}

.feedbackText {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
}

.feedbackAuthor1 {
  font-size: 16px;
  color: #f16d7f;
  font-weight: 700;
}

.feedbackAuthor2 {
  font-size: 16px;
  font-weight: 400;
}

.paginationBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.paginationBox .pagination {
  height: 5px;
  width: 38px;
  margin-right: 13px;
  background-color: #c2c2c2;
}

.paginationBox .active {
  background-color: #f16d7f;
}

.subscribeBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991px) {
  .subscribeBox {
    margin-top: 40px;
  }
}

@media (max-width: 575px) {
  .subscribeBox {
    margin-top: 20px;
  }
}

.subscribeBox h4 {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
}

.subscribeBox p {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
}

@media (max-width: 575px) {
  .subscribeBox p {
    text-align: center;
  }
}

.subscribeForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 45px;
  width: 392px;
}

@media (max-width: 575px) {
  .subscribeForm {
    width: auto;
  }
}

.subscribeForm > * {
  border: none;
  outline: none;
}

.subscribeForm input {
  height: inherit;
  width: 283px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 17px 17px 17px 28px;
  font-size: 14px;
  color: #5b5b5b;
  background-color: #e1e1e1;
}

@media (max-width: 575px) {
  .subscribeForm input {
    width: auto;
  }
}

.subscribeForm button {
  height: inherit;
  width: 105px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  font-size: 14px;
  color: white;
  background-color: #f16d7f;
}

.subscribeForm button:focus {
  outline: none;
}

.footerContent {
  padding-top: 100px;
  padding-bottom: 90px;
}

@media (max-width: 991px) {
  .footerContent {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.footerContent .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 245px;
}

@media (max-width: 991px) {
  .footerContent .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footerContentInf {
  width: 459px;
  margin-right: 70px;
}

@media (max-width: 991px) {
  .footerContentInf {
    margin-right: 0;
    width: auto;
  }
}

.footerContentInf p {
  padding-top: 25px;
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  color: #c2c2c2;
}

@media (max-width: 991px) {
  .footerContentInf p {
    padding-top: 15px;
  }
}

.footerContentNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footerContentNav div {
  width: 190px;
}

@media (max-width: 488px) {
  .footerContentNav div {
    height: auto;
  }
}

.footerContentNav h4 {
  padding-bottom: 48px;
  font-size: 18px;
  color: #f16d7f;
  font-weight: 700;
  margin: 0;
}

@media (max-width: 991px) {
  .footerContentNav h4 {
    padding-bottom: 10px;
  }
}

@media (max-width: 488px) {
  .footerContentNav h4 {
    font-size: 14px;
  }
}

.footerContentNav a {
  line-height: 40px;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  color: #c2c2c2;
}

@media (max-width: 991px) {
  .footerContentNav a {
    line-height: 20px;
  }
}

@media (max-width: 488px) {
  .footerContentNav a {
    font-size: 14px;
  }
}

.footer {
  background-color: #e6e6e6;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

@media (max-width: 488px) {
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footerLeft {
  font-weight: 300;
  color: #c2c2c2;
}

.footernav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footernav :not(:last-child) {
  margin-right: 8px;
}

.footernav a {
  line-height: 32px;
  width: 33px;
  text-align: center;
  background-color: white;
  font-size: 16px;
  color: #c2c2c2;
}

.footernav a:hover {
  background-color: #f16d7f;
  color: white;
}

/* header animation */
.logo {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.logo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.MyAccountTop:hover {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.MyAccountTop:hover button {
  -webkit-box-shadow: 4px 4px 3px #e6657652;
          box-shadow: 4px 4px 3px #e6657652;
}

.topNav:hover .nav-link {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

/* main index animation */
section img {
  height: 280px;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

section:hover img {
  -webkit-transform: rotateY(150deg);
          transform: rotateY(150deg);
}

.productContainer a:hover {
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  text-decoration: none;
  color: black;
  border-radius: 50%;
}

/* featureBanner animation */
.featureBox .featureBoxFormImg img {
  -webkit-animation: featureImg 5s linear 0s infinite;
          animation: featureImg 5s linear 0s infinite;
}

@-webkit-keyframes featureImg {
  to {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  from {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes featureImg {
  to {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  from {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

/* Subscribe animation */
.subscribeForm input {
  -webkit-box-shadow: 0 2px 8px #e1e1e1;
          box-shadow: 0 2px 8px #e1e1e1;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.subscribeForm input:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.subscribeForm button {
  -webkit-box-shadow: 4px 2px 8px #f16d7f;
          box-shadow: 4px 2px 8px #f16d7f;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.subscribeForm button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

/* Footer animation */
.footerContentNav a {
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.footerContentNav a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #f16d7f;
}

.footernav a {
  position: relative;
}

.footernav a:hover {
  -webkit-animation: footernav .4s linear 0s;
          animation: footernav .4s linear 0s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes footernav {
  to {
    top: 0;
  }
  from {
    top: 5px;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes footernav {
  to {
    top: 0;
  }
  from {
    top: 5px;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

/* productMain animation */
.LeftmainNav ul {
  -webkit-animation-name: LeftmainNavAnim;
          animation-name: LeftmainNavAnim;
  -webkit-animation-duration: 0.5s, .2s;
          animation-duration: 0.5s, .2s;
  -webkit-animation-delay: 0, 0.5s;
          animation-delay: 0, 0.5s;
}

@-webkit-keyframes LeftmainNavAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes LeftmainNavAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.pagination button {
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.pagination button:hover {
  background-color: #fddce1a8;
  -webkit-box-shadow: 0 0 17px #f16d7f;
          box-shadow: 0 0 17px #f16d7f;
}

/* infStockProduct animation */
.infStockProduct .freeDevilery,
.infStockProduct .sales,
.infStockProduct .quality {
  -webkit-animation: featureImg 5s linear 0s infinite;
          animation: featureImg 5s linear 0s infinite;
}

.infStockProduct .freeDevilery:hover,
.infStockProduct .sales:hover,
.infStockProduct .quality:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

/* shoppingcardMain animation */
.shoppingCardProductBtn {
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.shoppingCardProductBtn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.CouponDiscont button,
.shippingaddress button {
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.CouponDiscont button:hover,
.shippingaddress button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.totalForm button {
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.totalForm button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 4px 2px 8px #f16d7f;
          box-shadow: 4px 2px 8px #f16d7f;
}

/* singlepage animation */
.specificationsProduct button {
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.specificationsProduct button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #fddce1a8;
  -webkit-box-shadow: 0 0 17px #f16d7f;
          box-shadow: 0 0 17px #f16d7f;
}
/*# sourceMappingURL=shoppingcard.css.map */